.new_update_category_admin{
    margin: 30px 5px;
}

.new_update_category_admin .header-new-update-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new_update_category_admin form{
    margin-top: 50px;
}

.new_update_category_admin form .content{
    padding-bottom: 20px;
}