{% extends 'layout_client/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/client/home.css') }}">

{% endblock %}

{% block content %}

    <div class="home-client">

        <a href="#" class="link ">
            <div class="card col-4">
                <div class="card-body">
                    <div class="img"></div>
                    <div class="content-card">
                        <div class="description">
                            <h3 class="title">Article 1</h3>
                            <p class="price">12.80€</p>
                        </div>
                        <a href="#">Ajouter au panier</a>
                    </div>
                    
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="card col-4">
                <div class="card-body">
                    <div class="img"></div>
                    <div class="content-card">
                        <div class="description">
                            <h3 class="title">Article 1</h3>
                            <p class="price">12.80€</p>
                        </div>
                        <a href="#">Ajouter au panier</a>
                    </div>
                    
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="card col-4">
                <div class="card-body">
                    <div class="img"></div>
                    <div class="content-card">
                        <div class="description">
                            <h3 class="title">Article 1</h3>
                            <p class="price">12.80€</p>
                        </div>
                        <a href="#">Ajouter au panier</a>
                    </div>
                    
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="card col-4">
                <div class="card-body">
                    <div class="img"></div>
                    <div class="content-card">
                        <div class="description">
                            <h3 class="title">Article 1</h3>
                            <p class="price">12.80€</p>
                        </div>
                        <a href="#">Ajouter au panier</a>
                    </div>
                    
                </div>
            </div>
        </a>

    </div>


{% endblock %}