.home_users_admin{
    margin: 30px 5px;
}

.home_users_admin .header-users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_users_admin .table{
    margin-top: 50px;
}