{% extends 'Common/base.html.twig' %}

{% block content %}

    <div class="new_update_admin">

        <div class="header-new-update">
            <h1>Créer un fournisseur</h1>
            <button type="button" class="btn btn-danger">Retour</button>
        </div>

        <form action ="#" method="post" enctype="multipart/form-data">
        
            <div class="form-row col-12">

                <div class="content">
                    <label>Titre du  fournisseur: </label>
                    <input class="form-control" type="text" id="title" name="title"> 
                </div>               

                <div class="content">
                    <label>Adresse: </label>
                    <input class="form-control" type="text" id="address" name="address"> 
                </div>  

                <div class="content">
                    <label>Ville: </label>
                    <input  class="form-control" type="text" id="city" name="city"> 
                </div>  

                <div class="content">
                    <label>Code Postal: </label>
                    <input  class="form-control" type="text" id="cp" name="cp"> 
                </div>  

                <div class="content">
                    <label>Numéro de téléphone: </label>
                    <input  class="form-control" type="text" id="phone" name="phone"> 
                </div>  
 
     
            </div>

            <button class= "btn btn-success mt-5 mb-5" type= "submit">Valider</button>
        
        </form>

    </div>


{% endblock %}