{% extends 'layout_admin/base_admin.html.twig' %}

{% block stylesheets %}

  {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/users/home_users.css') }}">

{% endblock %}

{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Gestion des utilisateurs</h1>
            <button type="button" class="btn btn-primary">Créer un utilisateur</button>
        </div>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prénom - Nom</th>
                    <th>Email</th>
                    <th>Restriction ?</th>
                    <th>Supprimé ?</th>
                    <th>Rôle(s)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nom Prénom</td>
                    <td>adresse-mail@gmail.com</td>
                    <td>False</td>
                    <td>False</td>
                    <td>Admin</td>
                    <td>
                        <a class="btn btn-info" href="#"><i class="fas fa-pen-fancy"></i></a>
                        <a class="delete btn btn-danger " href="#"><i class="fas fa-trash"></i></a>
                        <a href="#">Passer une commande</a>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>


{% endblock %}