{% extends 'Common/base.html.twig' %}

{% block content %}

    <div class="new_update_admin">

        <div class="header-new-update">
            <h1>Créer un utilisateur</h1>
            <a href="{{ path('admin_users') }}" class="btn btn-danger">Retour</a>
        </div>

        <form action ="#" method="post" enctype="multipart/form-data">
        
            <div class="form-row col-12">

                <div class="content">
                    <label>Nom: </label>
                    <input  class="form-control" type="text" id="lastName" name="lastName"> 
                </div>    

                <div class="content">
                    <label>Prénom: </label>
                    <input class="form-control" type="text" id="firstName" name="firstName"> 
                </div>            

                <div class="content">
                    <label>Adresse mail: </label>
                    <textarea class="form-control " type="text" id="email" name="email"></textarea>
                </div>

                <div class="content">
                    <label>Adresse: </label>
                    <input class="form-control" type="text" id="address" name="address">
                </div>
                
                <div class="content">
                    <label>Adresse complémentaire: </label>
                    <input class="form-control" type="text" id="address_alt" name="address_alt">
                </div>
                
                <div class="content">
                    <label>Numéro de rue: </label>
                    <input class="form-control" type="number" id="street" name="street" min="0">
                </div>
                
                <div class="content">
                    <label>Code Postal: </label>
                    <input class="form-control" type="text" id="cp" name="cp">
                </div>

                <div class="content">
                    <label>Ville: </label>
                    <input class="form-control" type="text" id="city" name="city">
                </div>

                <div class="content">
                    <label>Pays: </label>
                    <input class="form-control" type="text" id="country" name="country">
                </div>

                <div class="content">
                    <label>Restriction ?</label>
                    <input class="form-control" type="checkbox" id="restriction" name="restriction">
                </div>

                <div class="content">
                    <label>Moyen de paiement:</label> <a href="{{ path('admin_payments_new') }}">Ajouter un moyen de paiement</a>
                    <select name="paiement" id="paiement" class="form-control">
                        <option value="paiement 1">Moyen de paiement 1</option>
                        <option value="paiement 2">Moyen de paiement 2</option>
                    </select>
                </div>
                    
            </div>

            <button class= "btn btn-success mt-5 mb-5" type= "submit">Valider</button>
        
        </form>

    </div>


{% endblock %}