.new_update_articles_admin{
    margin: 30px 5px;
}

.new_update_articles_admin .header-new-update-articles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new_update_articles_admin form{
    margin-top: 50px;
}

.new_update_articles_admin form .content{
    padding-bottom: 20px;
}