version: '3.8'

services:
  database:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: e_commerce
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - '4306:3306'
    volumes:
      - ./symfony_docker/mysql:/var/lib/mysql

  php:
    container_name: php_ecommerce
    build:
      context: symfony_docker/php
    ports:
      - '9000:9000'
    volumes:
      - ./:/var/www/symfony_docker

  nginx:
    image: nginx:stable-alpine
    ports:
      - '8080:80'
    volumes:
      - ./:/var/www/symfony_docker
      - ./symfony_docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
