
.home_fournisseurs_admin{
    margin: 30px 5px;
}

.home_fournisseurs_admin .header-fournisseurs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_fournisseurs_admin .table{
    margin-top: 50px;
}