.new_update_fournisseur_admin{
    margin: 30px 5px;
}

.new_update_fournisseur_admin .header-new-update-fournisseur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new_update_fournisseur_admin form{
    margin-top: 50px;
}

.new_update_fournisseur_admin form .content{
    padding-bottom: 20px;
}