
.header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 0px; 
}

.header h1{
    margin-left: 5px;
}

.navigation nav li{
    padding: 0px 20px;
}

.header .btn-danger{
    margin-right: 5px;
}

.header .box-account{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-user-circle{
    font-size: 24px;
    color: rgba(0,0,0,.55);
}

.header .navigation .navbar-collapse{
    display: flex!important;
    flex-direction: row;
}

.header .navigation .navbar-collapse .navbar-nav{
    flex-direction: row!important;
}

.navigation-mobile{
    display: none;
}

.navigation-mobile .navbar-collapse{
    justify-content: center;
}

.navigation-mobile .navbar-nav{
    flex-direction: column!important;
    align-items: center;
}
