{% extends 'layout_admin/base_admin.html.twig' %}


{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Gestion des commandes </h1>
        </div>

        <table class="table text-center">
            <thead>
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Email</th>
                <th>Article(s)</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <a class="btn btn-info" href="#"><i class="fas fa-pen-fancy"></i></a>
                    <a class="delete btn btn-danger " href="#"><i class="fas fa-trash"></i></a>
                </td>
            </tr>

            </tbody>

        </table>

    </div>


{% endblock %}