
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/base/header.css') }}">

{% endblock %}


<div class="header bg-light">

    <h1 class="h24">E-Commerce</h1>

    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fournisseurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon Profil</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>

    <button type="button" class="btn btn-danger">Déconnexion</button>

</div>