{% extends 'layout_customer/base_customer.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/customer/cart/cart.css') }}">

{% endblock %}

{% block content %}

    <div class="panier_client">

        <div class="header-client">
            <h1>Mon panier</h1>
            <button type="button" class="btn btn-danger">Retour</button>
        </div>

        <form action ="#" method="post" enctype="multipart/form-data">

            <div class="form-row col-12">

                <div class="content">
                    <label>Mes Articles: </label>
                    <select name="article" id="article" class="form-control">
                        <option value="">Selectionner un / des articles</option>
                        <option value="article 1">Article 1</option>
                        <option value="article 2">Article 2</option>
                        <option value="article 3">Article 3</option>
                        <option value="article 4">Article 4</option>
                    </select>
                </div>

                <div class="content">
                    <label>Date: </label>
                    <input class="form-control" type="date" id="date" name="date">
                </div>

                <div class="content">
                    <label>Statut: </label>
                    <input class="form-control" type="text" disabled id="status" name="status" value="En attente">
                </div>

            </div>

            <button class= "btn btn-success mt-5 mb-5" type= "submit">Passer commande</button>

        </form>

    </div>


{% endblock %}