{% extends 'layout_admin/base_admin.html.twig' %}

{% block stylesheets %}

  {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/client/home/home.css') }}">

{% endblock %}

{% block content %}

    <div class="home_admin_card">

        <a href="#" class="link col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des articles</h5>
                </div>
            </div>
        </a>

        <a href="#" class="link col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des utilisateurs</h5>
                </div>
            </div>
        </a>

        <a href="#" class="link col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des commandes</h5>
                </div>
            </div>
        </a>

        <a href="#" class="link col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des fournisseurs</h5>
                </div>
            </div>
        </a>

        <a href="#" class="link col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des catégories</h5>
                </div>
            </div>
        </a>

    </div>


{% endblock %}
